{
    "plugins": [
        "babel-plugin-transform-typescript-metadata",
        "@babel/plugin-proposal-optional-chaining",
        "emotion",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        ["prismjs", {
            "languages": ["html", "xml", "svg", "css", "clike", "javascript", "tsx"],
            "plugins": ["line-numbers"],
            "theme": "twilight",
            "css": true
        }]
    ],
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        "@babel/preset-env"
    ]
}
