.retracted {
    bottom: -188px !important;
    cursor: pointer;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.no-margin {
    margin: 0 !important;
}

.splash-wrapper {
    height: 80vh;
    width: 90vw;
    top: 10vh;
    left: 5vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
