@import "../../../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css";

.controls {
    width: 50vw;
    height: 25vh;
    position: fixed;
    left: 50vw;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share-icon {
    cursor: pointer;
}

.link {
    left: 62.5vw;
    position: fixed;
    top: 45vh;
    padding: 3vh;
    height: 20vh;
    color: #FFF;
    font-size: 2rem;
}
