.gradient-background {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wave-container {
    background-image: url(/wavy.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
}

.intro {
    padding-left: 150px;
}

.app-logo {
    position: absolute;
    max-width: 100%;
    height: 50px;
}

.home-image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 500px;
}

.main-title {
    font-weight: 700;
}

.second-title {
    font-weight: 300;
}

.start {
    margin-top: 50px;
}