.services-modal-header {
    text-align: left;
    color: #f3f8fa;
    padding: 10px;
    background: #4A00E0;
    border-radius: 5px 5px 0 0;
}

.services-modal-header-close {
    color: #f3f8fa;
    font-size: 1em;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .services-item-icon {
      font-size: 1.5em;
  }