.rail {
    margin-left: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #8B9CB6;
}

.eraser, .wiper {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    transform: scale(1);
    transition: transform 100ms ease 0s;
}

.eraser-inner, .wiper-inner {
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    transition: box-shadow 100ms ease 0s;
    text-align: center;
    font-size: 10px;
}

.eraser-inner {
    box-shadow: rgb(187, 188, 188) 0px 0px 0px 20px inset;
}

.wiper-inner {
    box-shadow: rgb(188, 0, 1) 0px 0px 0px 20px inset;
}

.eraser-inner:hover {
    transform: scale(1.1);
}

.eraser-inner svg, .wiper-inner svg {
    position: relative;
    transform: translateY(25%);
}

.wiper-inner svg {
    transform: scale(1.5) translateY(25%);
    color: #ffffff;
}

.eraser.inuse svg {
    color: #ffffff;
}
